@namespace url(http://www.w3.org/1999/xhtml);
#info {
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

#info .title {
    color:#464646;
    font-family:TankTrouble
}

#info .content ul {
    background-color:#9f9f9f;
    border-radius:5px;
    padding-top:8px;
    padding-bottom:8px;
    box-shadow:0 0 0 2pt #636363
}

#overlay .account .row td {
    text-align:left;
    padding:0 5px
}

.forum div.unmoderatedReplies .container {
    filter:drop-shadow(0 0 5px #ad7811);
    -webkit-filter:drop-shadow(0 0 5px #ad7811)
}

.admin.statistics .section input {
    width:120px!important
}

.admin.statistics .section p {
    display:inline-block
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    border-radius:5px
}

.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
    border-radius:7px;
    box-shadow:0 0 5px #000
}

#chat .chatMessage {
    width:auto
}

.container.snippet * {
    margin:0;
    padding:0
}

.container.snippet,.container.snippet .card {
    display:inline-block;
    position:relative;
    width:160px;
    height:245px;
    border-radius:8px;
    overflow:hidden
}

.container.snippet {
    text-align:center;
    font-family:'Poppins',sans-serif;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    vertical-align:top
}

.container.snippet .card {
    background:-webkit-gradient(linear,left top,left bottom,color-stop(10%,#242424),color-stop(90%,#101010));
    background:-o-linear-gradient(top,#242424 10%,#101010 90%);
    background:linear-gradient(to bottom,#242424 10%,#101010 90%)
}

.container.snippet .card:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(back.png);
    background-size:200%;
    -webkit-clip-path:circle(75px at 80% 20%);
    clip-path:circle(75px at 80% 20%);
    -webkit-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
    transition:.5s ease-in-out
}

.container.snippet .card:hover:before {
    -webkit-clip-path:circle(150px at 80% -20%);
    clip-path:circle(150px at 80% -20%)
}

.container.snippet .card .imgBx img,.container.snippet .card:after {
    position:absolute;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

.container.snippet .card:after {
    content:attr(data-value);
    font-size:1.8em;
    color:rgba(255,255,255,.2);
    top:40%;
    margin:0 -50% 0 0;
    text-shadow:2px 2px 3px rgba(0,0,0,.3);
    font-family:TankTrouble
}

.container.snippet .card .imgBx {
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    z-index:10000;
    width:100%;
    height:110px;
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s
}

.container.snippet .card:hover .imgBx {
    top:0;
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}

.container.snippet .card .imgBx img {
    top:50%;
    width:135px
}

.container.snippet .card .contentBx {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    text-align:center;
    -webkit-transition:1s;
    -o-transition:1s;
    transition:1s;
    z-index:10
}

.container.snippet .card:hover .contentBx {
    height:122px
}

.container.snippet .card .contentBx h2 {
    font-family:TankTrouble;
    position:relative;
    color:#fff;
    text-shadow:#000 0 1px 2px
}

.container.snippet .card .contentBx .color,.container.snippet .card .contentBx .style {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding:4px 10px;
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
    opacity:0;
    visibility:hidden
}

.container.snippet .card:hover .contentBx .style {
    opacity:1;
    visibility:visible;
    -webkit-transition-delay:.5s;
    -o-transition-delay:.5s;
    transition-delay:.5s
}

.container.snippet .card:hover .contentBx .color {
    opacity:1;
    visibility:visible;
    -webkit-transition-delay:.6s;
    -o-transition-delay:.6s;
    transition-delay:.6s
}

.container.snippet .card .contentBx .color h3,.container.snippet .card .contentBx .style h3 {
    color:#fff;
    font-weight:300;
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:1px
}

.container.snippet .card .contentBx .style span {
    width:13px;
    height:13px;
    text-align:center;
    line-height:13px;
    font-size:12px;
    display:inline-block;
    color:#fff;
    background:#414141;
    margin:0 2.5px;
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
    border-radius:2px;
    cursor:pointer;
    padding:2.5px
}

.container.snippet .card .contentBx .style span:hover {
    background:#1d3b9e
}

.container.snippet .card .contentBx .style span.active {
    background:#254fda
}

.container.snippet .card .contentBx .color span {
    width:10px;
    height:10px;
    background:#ff0;
    border-radius:50%;
    margin:0 2.5px;
    cursor:pointer;
    -webkit-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
    transition:.3s ease-in-out;
    padding:2.5px
}

.container.snippet .card .contentBx .color span:nth-child(2) {
    font-size:1em;
    background:#b5d2d7;
    -webkit-box-shadow:1px 1px 0 #8fa9ad,inset 1px 1px 0 #fff;
    box-shadow:1px 1px 0 #8fa9ad,inset 1px 1px 0 #fff
}

.container.snippet .card .contentBx .color span:nth-child(3) {
    background:#1f2325;
    -webkit-box-shadow:1px 1px 0 #0b0f10,inset 1px 1px 0 rgba(255,255,255,.2);
    box-shadow:1px 1px 0 #0b0f10,inset 1px 1px 0 rgba(255,255,255,.2)
}

.container.snippet .card .contentBx .color span.active:nth-child(2) {
    background:#b5d2d7;
    -webkit-box-shadow:0 0 0 #46666a,inset .5px .5px 0 #fff,inset -.5px -.5px 0 #8fa9ad,0 0 4px #ffffff63;
    box-shadow:0 0 0 #46666a,inset .5px .5px 0 #fff,inset -.5px -.5px 0 #8fa9ad,0 0 4px #ffffff63
}

.container.snippet .card .contentBx .color span.active:nth-child(3) {
    background:#1f2325;
    -webkit-box-shadow:0 0 0 #0b0f10,inset .5px .5px 0 rgba(255,255,255,.2),inset -.5px -.5px 0 #0b0f10,0 0 4px #ffffff2e;
    box-shadow:0 0 0 #0b0f10,inset .5px .5px 0 rgba(255,255,255,.2),inset -.5px -.5px 0 #0b0f10,0 0 4px #ffffff2e
}

.container.snippet .card .contentBx button.buy {
    width:60%
}

.container.snippet .card .contentBx button.buy,.container.snippet .card .contentBx button.info {
    padding:0 10px;
    font-size:1.2em;
    min-width:34px;
    line-height:34px;
    display:inline-block;
    font-family:TankTrouble;
    background:-webkit-gradient(linear,left top,left bottom,from(#427fff),to(#0014ab));
    background:-o-linear-gradient(top,#427fff,#0014ab);
    background:linear-gradient(to bottom,#427fff,#0014ab);
    border-radius:6px;
    text-decoration:none;
    color:#fff;
    opacity:0;
    -webkit-transform:translateY(50px);
    -ms-transform:translateY(50px);
    transform:translateY(50px);
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
    margin:5px 3px;
    border:solid 0 transparent;
    -webkit-box-shadow:0 3px 4px 0 rgba(0,0,0,.5);
    box-shadow:0 3px 4px 0 rgba(0,0,0,.5);
    cursor:pointer
}

.container.snippet .card .contentBx button:focus {
    outline:0
}

.container.snippet .card .contentBx button:active,.container.snippet .card .contentBx button:active:focus,.container.snippet .card .contentBx button:focus,.container.snippet .card .contentBx button:target {
    -webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.5);
    box-shadow:0 1px 4px 0 rgba(0,0,0,.5);
    -webkit-transform:translateY(2px);
    -ms-transform:translateY(2px);
    transform:translateY(2px);
    -webkit-transition-duration:0s;
    -o-transition-duration:0s;
    transition-duration:0s;
    -webkit-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s
}

.container.snippet .card:hover .contentBx a,.container.snippet .card:hover .contentBx button {
    opacity:1;
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0);
    -webkit-transition-delay:.75s;
    -o-transition-delay:.75s;
    transition-delay:.75s;
    cursor:pointer
}

img,img::after,img::before {
    -webkit-user-select:none;
    -webkit-user-drag:none;
    -webkit-app-region:no-drag
}

#determineMouseControl,#googlePlaySnippet {
    display:none
}

#red_infiltration {
    top:102.5px!important
}

.forum .reply.deleted.editable:not(.editing) .action.edit {
    display:inline-block
}

.forum .reply.approved .action.ban,.forum .reply.approved .action.delete,.forum .reply.banned .action.approve,.forum .reply.banned .action.delete,.forum .reply.banned .action.edit,.forum .reply.banned .action.like,.forum .reply.deleted .action.approve,.forum .reply.deleted .action.edit,.forum .reply.deleted .action.like,.forum .reply.deleted:not(.banned) .action.ban,.forum .reply.editing .action.approve,.forum .reply.editing .action.ban,.forum .reply.editing .action.delete,.forum .reply.editing .action.edit,.forum .reply.editing .action.like,.forum .reply:not(.editing) .action.acceptEdit,.forum .reply:not(.editing) .action.cancelEdit {
    display:none
}

#garageTab .deselected,#garageTab .selected {
    width:0;
    height:0;
    padding:60px 0 0 120px;
    background-image:-webkit-image-set(url(/images/1x/tab5SelectedLight.png) 1x,url(/images/2x/tab5SelectedLight@2x.png) 2x);
    background-image:image-set(url(/images/1x/tab5Selected.png) 1x,url(/images/2x/tab5Selected@2x.png) 2x)
}

#garageTab .deselected {
    background-image:-webkit-image-set(url(/images/1x/tab5Light.png) 1x,url(/images/2x/tab5Light@2x.png) 2x);
    background-image:image-set(url(/images/1x/tab5Light.png) 1x,url(/images/2x/tab5Light@2x.png) 2x)
}

#info {
    position:fixed;
    left:50%;
    top:50%
}

#info .content {
    background:linear-gradient(to bottom,#cacaca 10%,#909090 90%);
    box-shadow:0 0 0 2pt #636363
}

