@import "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap";
@namespace "http://www.w3.org/1999/xhtml";

#chat.open input {
    white-space: nowrap
}

#clipboard {
    opacity: 0
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-button {
    background-color: #353535;
    height: 0;
    width: 0;
    border-radius: 5px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

::-webkit-scrollbar-track {
    background-color: #646464
}

::-webkit-scrollbar-track-piece {
    background-color: #353535
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #5a5a5a;
    border-radius: 2px;
    -webkit-transition: 1s;
    transition: 1s
}

::-webkit-scrollbar-thumb:hover {
    background-color: #707070
}

::-webkit-scrollbar-button:vertical:decrement {
    border-radius: 0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

::-webkit-scrollbar-button:vertical:decrement:hover {
    background-color: #626262
}

::-webkit-scrollbar-button:vertical:increment {
    border-radius: 0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

::-webkit-scrollbar-button:vertical:increment:hover {
    background-color: #626262
}

::-webkit-scrollbar-corner {
    background-color: #646464
}

::-webkit-resizer {
    background-color: #666
}

.tooltipster-arrow span,
.tooltipster-arrow-bottom span,
.tooltipster-base .tooltipster-arrow span,
.tooltipster-default .tooltipster-arrow span {
    background: -o-linear-gradient(45deg, #191919 -225%, #1a1a1a 50%);
    background: linear-gradient(45deg, #191919 -225%, #1a1a1a 50%)
}

#newsPostsWrapper .newsPost.standard .wrapper .content .story {
    border-radius: 5px;
    padding: 1px 10px;
    clear: both
}

#newsPostsWrapper .newsPost.standard .wrapper .content .facts {
    background-color: #181818;
    border-radius: 5px;
    padding: 1px 10px;
    clear: both
}

body,
document {
    color: #fff;
    background-color: #1a1a1a
}

#masthead,
#primary {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #fff;
    padding: 20px !important
}

#masthead {
    background: 0
}

#masthead img,
#primary img {
    -webkit-filter: invert(100%);
    filter: invert(100%)
}

.forum .container>.bubble {
    border-color: #161616
}

.forum * {
    color: #fafafa
}

#threadsContainer .approved.thread.selectable:not(.editing) .bubble:hover,
.forum .thread .bubble:hover,
.forum .thread.selectable.deleted .bubble:hover,
.forum .thread:not(.approved):not(.moderatable) .bubble:hover {
    background: #161616
}

#repliesWrapper .compose .container .bubble,
#threadsWrapper .compose .container .bubble,
.forum .container>.bubble {
    background: #202020
}

#mainContent,
#repliesContainer,
#repliesWrapper,
#threadsWrapper,
.box.noselect .content .spaced,
.forum .bubble,
.synchronization,
.tooltipster-base.tooltipster-default.tooltipster-fade.tooltipster-fade-show {
    color: #fff
}

#secondaryContent>div,
#tertiaryContent>div,
.newsPost .wrapper {
    background: linear-gradient(to bottom, #292929, #242424);
    color: #fff
}

.newsPost .wrapper .disk {
    color: #000
}

#newsPostsWrapper .newsPost.standard .wrapper .content .story {
    background-color: #181818
}

#chat .content form {
    background-color: #222;
    color: #e6e6e6
}

#chat .content form textarea {
    color: #e6e6e6
}

#newsPost-51 .wrapper .header {
    background: -o-linear-gradient(45deg, #0175ff 0, #87bcea 40%, #0175ff 100%);
    background: linear-gradient(45deg, #0175ff 0, #87bcea 40%, #0175ff 100%);
    border-radius: 5px 5px 0 0
}

#newsPost-12 .wrapper .header {
    background: -o-linear-gradient(30deg, red 5%, #ff00de 10%, #cb00ff 15%, #6e00ff 20%, #1800ff 25%, #0037ff 30%, #0075ff 35%, #00a7ff 40%, #00d0ff 45%, #00ffcd 50%, #00ffad 55%, #00ff7b 60%, #00ff54 65%, #91ff00 70%, #cfff00 75%, #ffeb00 80%, #ffe800 85%, #ffc200 90%, #ff8d00 95%);
    background: linear-gradient(60deg, red 5%, #ff00de 10%, #cb00ff 15%, #6e00ff 20%, #1800ff 25%, #0037ff 30%, #0075ff 35%, #00a7ff 40%, #00d0ff 45%, #00ffcd 50%, #00ffad 55%, #00ff7b 60%, #00ff54 65%, #91ff00 70%, #cfff00 75%, #ffeb00 80%, #ffe800 85%, #ffc200 90%, #ff8d00 95%);
    border-radius: 5px
}

#newsPost-29 .wrapper .content .bubble,
#newsPost-39 .wrapper .content .bubble {
    background-color: #363636;
    border-color: #1e1e1e
}

#mainContent #version {
    color: #525252
}

#adduser .content,
#goldShopItemsContainer .shopItem,
#settings .content,
#shopItemsContainer .shopItem,
#tankinfo .content {
    background: -o-linear-gradient(top, #242424 10%, #101010 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #242424), color-stop(90%, #101010));
    background: linear-gradient(to bottom, #242424 10%, #101010 90%);
    color: #e3e3e3
}

#shopItemsContainer #shopItem-122 {
    background: #0c3819;
    -webkit-box-shadow: inset 0 3px 20px -15px #48da51;
    box-shadow: inset 0 3px 20px -15px #48da51
}

#shopItemsContainer #shopItem-120 {
    background: -o-linear-gradient(top, #705a23 70%, #573a0f 300%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #705a23), color-stop(300%, #573a0f));
    background: linear-gradient(180deg, #705a23 70%, #573a0f 300%);
    -webkit-box-shadow: inset 0 3px 20px -15px #f1cb4a;
    box-shadow: inset 0 3px 20px -15px #f1cb4a
}

.box .tab.bottom {
    background: linear-gradient(-45deg, #101010 70%, #242424 300%)
}

.box .tab.left,
.box .tab.right {
    background: linear-gradient(-45deg, #101010 -400%, #242424 90%)
}

.box .tab.top,
.box .tab.topRight {
    background: linear-gradient(-45deg, #101010 -300%, #242424 30%)
}

.box.localPlayer .tab.left,
.box.localPlayer .tab.right {
    background: linear-gradient(-45deg, #101010 -400%, #242424 50%)
}

#settings .content .spaced .ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-all,
#settings .content .spaced .ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-top,
.ui-state-default,
.ui-widget-content,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #101010 url(/images/1x/ui-bg_glass.png) 50% 50% repeat-x;
    border: 1px solid #313131;
    color: #fff;
    outline: 0
}

#ui-id-1-menu .content,
#ui-id-1-menu .ui-menu-item,
#ui-id-2-menu .content,
#ui-id-2-menu .ui-menu-item,
.ui-menu-item {
    color: #fff;
    background-color: #202020
}

#ui-id-1-menu,
#ui-id-2-menu {
    background: #151515;
    color: #d3d3d3;
    -webkit-transition-duration: .55s;
    -o-transition-duration: .55s;
    transition-duration: .55s
}

.ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #1c1c1c), color-stop(75%, #181818));
    background-image: -o-linear-gradient(#1c1c1c 25%, #181818 75%);
    background-image: linear-gradient(#1c1c1c 25%, #181818 75%);
    color: #fff;
    border: 1px solid #161616
}

#chat.user .content form {
    background: #006c02
}

#chat.global .content form {
    background: #3c7393
}

#overlay .achievements.centre>div .achievement,
#overlay .messages.centre>div .message {
    color: #fff;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .5)
}

#overlay .messages.centre>div .message.important {
    background: -o-linear-gradient(top, #427fff, #0014ab);
    background: -webkit-gradient(linear, left top, left bottom, from(#427fff), to(#0014ab));
    background: linear-gradient(to bottom, #427fff, #0014ab)
}

#overlay .achievements.centre>div .achievement,
#overlay .messages.centre>div .message,
.shopItem {
    background: -o-linear-gradient(top, #242424 10%, #101010 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #242424), color-stop(90%, #101010));
    background: linear-gradient(to bottom, #242424 10%, #101010 90%)
}

#overlay .achievements.centre>div .achievement.unlockedAndSeen {
    background: -o-linear-gradient(top, #e5c766, #a68826);
    background: -webkit-gradient(linear, left top, left bottom, from(#e5c766), to(#a68826));
    background: linear-gradient(to bottom, #e5c766, #a68826)
}

#createReplyButton:disabled,
#createThreadButton:disabled,
#overlay * button:disabled,
#overlay .messages.centre>form .rowContent .medium.tooltipstered:disabled,
#shopItemsContainer .shopItem .medium.buy:disabled,
.box.noselect .content,
.tooltipster-base.tooltipster-default.tooltipster-fade.tooltipster-dying,
.tooltipster-base.tooltipster-default.tooltipster-fade.tooltipster-fade-show,
.virtualShop.centre>div .shopItem.info .purchaseOption .medium.buy:disabled {
    background: -o-linear-gradient(top, #333 10%, #191919 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #333), color-stop(90%, #191919));
    background: linear-gradient(to bottom, #333 10%, #191919 90%)
}

#overlay .messages.centre>div .message .headers {
    border-bottom: 1px solid #fff
}

.forum .bubble {
    background-color: #202020;
    border-color: #161616
}

.forum .thread.selectable.approvable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble:hover,
.forum .thread.selectable.bannable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble:hover,
.forum .thread.selectable.deletable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble:hover {
    background: #3a2f12
}

.forum .approvable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble,
.forum .bannable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble,
.forum .deletable:not(.approved):not(.deleted):not(.banned):not(.editing) .bubble {
    border: #2b240e 2px solid;
    background-color: #17140f
}

#repliesThreadData .thread.approved .bubble:hover,
#repliesThreadData .thread.deleted .bubble:hover {
    background: #202020
}

@media (-webkit-min-device-pixel-ratio:2),
not all,
(-o-min-device-pixel-ratio:2/1),
(min-resolution:192dpi),
(min-resolution:2dppx) {
    #header {
        background-image: url(/images/banners/dark_background_default@2x.png)
    }
}

#header {
    position: relative;
    background-size: 120px 120px
}

.forum div.unmoderatedReplies .container {
    -webkit-filter: drop-shadow(0 0 3px #ad7811);
    filter: drop-shadow(0 0 3px #ad7811)
}

.admin.statistics .section input {
    width: 120px !important
}

.admin.statistics .section p {
    display: inline-block
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    border-radius: 5px
}

.ui-datepicker .ui-datepicker-calendar .ui-state-hover a,
.ui-datepicker .ui-datepicker-header {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #1c1c1c), color-stop(75%, #202020));
    background: -o-linear-gradient(#1c1c1c 25%, #202020 75%);
    background: linear-gradient(#1c1c1c 25%, #202020 75%)
}

.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
    border-radius: 7px;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000
}

.ui-datepicker .ui-datepicker-calendar .ui-state-active {
    -webkit-box-shadow: 0 0 2px #fff56f;
    box-shadow: 0 0 2px #fff56f
}

.ui-datepicker .ui-datepicker-header {
    color: #fff;
    border: 2px solid #2e2e2e
}

.ui-datepicker .ui-widget-header .ui-state-hover {
    border: 2px solid #d1d1d1
}

.ui-datepicker .ui-widget-header .ui-corner-all {
    -webkit-filter: invert(1);
    filter: invert(1)
}

.ui-datepicker {
    border: 2px solid #353535;
    background: #272727;
    color: #fff
}

#chat .chatMessage {
    width: auto
}

#determineMouseControl,
#googlePlaySnippet {
    display: none
}

img,
img::after,
img::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag
}

#red_infiltration {
    top: 102.5px !important
}

#appStoreSnippet {
    filter: contrast(.81) brightness(1.5)
}

.forum .reply.deleted.editable:not(.editing) .action.edit {
    display: inline-block
}

.forum .reply.approved .action.ban,
.forum .reply.approved .action.delete,
.forum .reply.banned .action.approve,
.forum .reply.banned .action.delete,
.forum .reply.banned .action.edit,
.forum .reply.banned .action.like,
.forum .reply.deleted .action.approve,
.forum .reply.deleted .action.edit,
.forum .reply.deleted .action.like,
.forum .reply.deleted:not(.banned) .action.ban,
.forum .reply.editing .action.approve,
.forum .reply.editing .action.ban,
.forum .reply.editing .action.delete,
.forum .reply.editing .action.edit,
.forum .reply.editing .action.like,
.forum .reply:not(.editing) .action.acceptEdit,
.forum .reply:not(.editing) .action.cancelEdit {
    display: none
}

#chat .handle {
    z-index: 9999
}

#image-placeholder {
    background: url(/images/1x/tab1Selected.png) no-repeat -9999px -9999px, url(/images/2x/tab1Selected@2x.png) no-repeat -9999px -9999px, url(/images/1x/tab1.png) no-repeat -9999px -9999px, url(/images/2x/tab1@2x.png) no-repeat -9999px -9999px, url(/images/1x/tab2Selected.png) no-repeat -9999px -9999px, url(/images/2x/tab2Selected@2x.png) no-repeat -9999px -9999px, url(/images/1x/tab2.png) no-repeat -9999px -9999px, url(/images/2x/tab2@2x.png) no-repeat -9999px -9999px, url(/images/1x/tab3Selected.png) no-repeat -9999px -9999px, url(/images/2x/tab3Selected@2x.png) no-repeat -9999px -9999px, url(/images/1x/tab3.png) no-repeat -9999px -9999px, url(/images/2x/tab3@2x.png) no-repeat -9999px -9999px, url(/images/1x/tab4Selected.png) no-repeat -9999px -9999px, url(/images/2x/tab4Selected@2x.png) no-repeat -9999px -9999px, url(/images/1x/tab4.png) no-repeat -9999px -9999px, url(/images/2x/tab4@2x.png) no-repeat -9999px -9999px, url(/images/1x/tab5Selected.png) no-repeat -9999px -9999px, url(/images/2x/tab5Selected@2x.png) no-repeat -9999px -9999px, url(/images/1x/tab5.png) no-repeat -9999px -9999px, url(/images/2x/tab5@2x.png) no-repeat -9999px -9999px, url(/images/1x/getimage.png) no-repeat -9999px -9999px, url(/images/2x/getimage@2x.png) no-repeat -9999px -9999px, url(/images/1x/getimage2.png) no-repeat -9999px -9999px, url(/images/2x/getimage2@2x.png) no-repeat -9999px -9999px, url(/images/2x/gameModes@2x.png), url(/images/forum/pageNewest.png) no-repeat -9999px -9999px, url(/images/forum/pageNewest@2x.png) no-repeat -9999px -9999px, url(/images/forum/pageNewestActive.png) no-repeat -9999px -9999px, url(/images/forum/pageNewestActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/pageNewestSelected.png) no-repeat -9999px -9999px, url(/images/forum/pageNewestSelected@2x.png) no-repeat -9999px -9999px, url(/images/forum/pageNewestSelectedActive.png) no-repeat -9999px -9999px, url(/images/forum/pageNewestSelectedActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/pageOldest.png) no-repeat -9999px -9999px, url(/images/forum/pageOldest@2x.png) no-repeat -9999px -9999px, url(/images/forum/pageOldestActive.png) no-repeat -9999px -9999px, url(/images/forum/pageOldestActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/pageOldestSelected.png) no-repeat -9999px -9999px, url(/images/forum/pageOldestSelected@2x.png) no-repeat -9999px -9999px, url(/images/forum/pageOldestSelectedActive.png) no-repeat -9999px -9999px, url(/images/forum/pageOldestSelectedActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/ellipsis.png) no-repeat -9999px -9999px, url(/images/forum/ellipsis@2x.png) no-repeat -9999px -9999px, url(/images/forum/back.png) no-repeat -9999px -9999px, url(/images/forum/back@2x.png) no-repeat -9999px -9999px, url(/images/forum/backActive.png) no-repeat -9999px -9999px, url(/images/forum/backActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/like.png) no-repeat -9999px -9999px, url(/images/forum/like@2x.png) no-repeat -9999px -9999px, url(/images/forum/likeActive.png) no-repeat -9999px -9999px, url(/images/forum/likeActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/page0.png) no-repeat -9999px -9999px, url(/images/forum/page0@2x.png) no-repeat -9999px -9999px, url(/images/forum/page0Active.png) no-repeat -9999px -9999px, url(/images/forum/page0Active@2x.png) no-repeat -9999px -9999px, url(/images/forum/page0Selected.png) no-repeat -9999px -9999px, url(/images/forum/page0Selected@2x.png) no-repeat -9999px -9999px, url(/images/forum/page0SelectedActive.png) no-repeat -9999px -9999px, url(/images/forum/page0SelectedActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/page1.png) no-repeat -9999px -9999px, url(/images/forum/page1@2x.png) no-repeat -9999px -9999px, url(/images/forum/page1Active.png) no-repeat -9999px -9999px, url(/images/forum/page1Active@2x.png) no-repeat -9999px -9999px, url(/images/forum/page1Selected.png) no-repeat -9999px -9999px, url(/images/forum/page1Selected@2x.png) no-repeat -9999px -9999px, url(/images/forum/page1SelectedActive.png) no-repeat -9999px -9999px, url(/images/forum/page1SelectedActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/page2.png) no-repeat -9999px -9999px, url(/images/forum/page2@2x.png) no-repeat -9999px -9999px, url(/images/forum/page2Active.png) no-repeat -9999px -9999px, url(/images/forum/page2Active@2x.png) no-repeat -9999px -9999px, url(/images/forum/page2Selected.png) no-repeat -9999px -9999px, url(/images/forum/page2Selected@2x.png) no-repeat -9999px -9999px, url(/images/forum/page2SelectedActive.png) no-repeat -9999px -9999px, url(/images/forum/page2SelectedActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/page3.png) no-repeat -9999px -9999px, url(/images/forum/page3@2x.png) no-repeat -9999px -9999px, url(/images/forum/page3Active.png) no-repeat -9999px -9999px, url(/images/forum/page3Active@2x.png) no-repeat -9999px -9999px, url(/images/forum/page3Selected.png) no-repeat -9999px -9999px, url(/images/forum/page3Selected@2x.png) no-repeat -9999px -9999px, url(/images/forum/page3SelectedActive.png) no-repeat -9999px -9999px, url(/images/forum/page3SelectedActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/page4.png) no-repeat -9999px -9999px, url(/images/forum/page4@2x.png) no-repeat -9999px -9999px, url(/images/forum/page4Active.png) no-repeat -9999px -9999px, url(/images/forum/page4Active@2x.png) no-repeat -9999px -9999px, url(/images/forum/page4Selected.png) no-repeat -9999px -9999px, url(/images/forum/page4Selected@2x.png) no-repeat -9999px -9999px, url(/images/forum/page4SelectedActive.png) no-repeat -9999px -9999px, url(/images/forum/page4SelectedActive@2x.png) no-repeat -9999px -9999px, url(/images/forum/page5.png) no-repeat -9999px -9999px, url(/images/forum/page5@2x.png) no-repeat -9999px -9999px, url(/images/forum/page5Active.png) no-repeat -9999px -9999px, url(/images/forum/page5Active@2x.png) no-repeat -9999px -9999px, url(/images/forum/page5Selected.png) no-repeat -9999px -9999px, url(/images/forum/page5Selected@2x.png) no-repeat -9999px -9999px, url(/images/forum/page5SelectedActive.png) no-repeat -9999px -9999px, url(/images/forum/page5SelectedActive@2x.png) no-repeat -9999px -9999px
}

#gameTab .deselected,
#gameTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 320px;
    background-image: -webkit-image-set(url(/images/1x/tab1Selected.png) 1x, url(/images/2x/tab1Selected@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab1Selected.png) 1x, url(/images/2x/tab1Selected@2x.png) 2x)
}

#gameTab .deselected {
    background-image: -webkit-image-set(url(/images/1x/tab1.png) 1x, url(/images/2x/tab1@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab1.png) 1x, url(/images/2x/tab1@2x.png) 2x)
}

#shopTab .deselected,
#shopTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 120px;
    background-image: -webkit-image-set(url(/images/1x/tab2Selected.png) 1x, url(/images/2x/tab2Selected@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab2Selected.png) 1x, url(/images/2x/tab2Selected@2x.png) 2x)
}

#shopTab .deselected {
    background-image: -webkit-image-set(url(/images/1x/tab2.png) 1x, url(/images/2x/tab2@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab2.png) 1x, url(/images/2x/tab2@2x.png) 2x)
}

#newsTab .deselected,
#newsTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 120px;
    background-image: -webkit-image-set(url(/images/1x/tab3Selected.png) 1x, url(/images/2x/tab3Selected@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab3Selected.png) 1x, url(/images/2x/tab3Selected@2x.png) 2x)
}

#newsTab .deselected {
    background-image: -webkit-image-set(url(/images/1x/tab3.png) 1x, url(/images/2x/tab3@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab3.png) 1x, url(/images/2x/tab3@2x.png) 2x)
}

#forumTab .deselected,
#forumTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 120px;
    background-image: -webkit-image-set(url(/images/1x/tab4Selected.png) 1x, url(/images/2x/tab4Selected@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab4Selected.png) 1x, url(/images/2x/tab4Selected@2x.png) 2x)
}

#forumTab .deselected {
    background-image: -webkit-image-set(url(/images/1x/tab4.png) 1x, url(/images/2x/tab4@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab4.png) 1x, url(/images/2x/tab4@2x.png) 2x)
}

#garageTab .deselected,
#garageTab .selected {
    width: 0;
    height: 0;
    padding: 60px 0 0 120px;
    background-image: -webkit-image-set(url(/images/1x/tab5Selected.png) 1x, url(/images/2x/tab5Selected@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab5Selected.png) 1x, url(/images/2x/tab5Selected@2x.png) 2x)
}

#garageTab .deselected {
    background-image: -webkit-image-set(url(/images/1x/tab5.png) 1x, url(/images/2x/tab5@2x.png) 2x);
    background-image: image-set(url(/images/1x/tab5.png) 1x, url(/images/2x/tab5@2x.png) 2x)
}

.newsPost img.pointer {
    width: 0;
    height: 0;
    padding: 29px 0 0 33px;
    background-image: -webkit-image-set(url(/images/1x/getimage.png) 1x, url(/images/2x/getimage@2x.png) 2x);
    background-image: image-set(url(/images/1x/getimage.png) 1x, url(/images/2x/getimage@2x.png) 2x)
}

#newsPost-54 .original img {
    width: 0;
    height: 0;
    padding: 161px 0 0 200px;
    background-image: -webkit-image-set(url(/images/1x/getimage2.png) 1x, url(/images/2x/getimage2@2x.png) 2x);
    background-image: image-set(url(/images/1x/getimage2.png) 1x, url(/images/2x/getimage2@2x.png) 2x)
}

#newsPost-25 .content {
    background-image: url(/images/2x/gameModes@2x.png) !important
}

.newest .button.page.newest .standard {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 51px;
    background-image: -webkit-image-set(url(/images/forum/pageNewest.png) 1x, url(/images/forum/pageNewest@2x.png) 2x);
    background-image: image-set(url(/images/forum/pageNewest.png) 1x, url(/images/forum/pageNewest@2x.png) 2x)
}

.newest .button.page.newest .active,
.newest .button.page.newest .selected {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 51px;
    background-image: -webkit-image-set(url(/images/forum/pageNewestActive.png) 1x, url(/images/forum/pageNewestActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/pageNewestActive.png) 1x, url(/images/forum/pageNewestActive@2x.png) 2x)
}

.newest .button.page.newest .selected {
    background-image: -webkit-image-set(url(/images/forum/pageNewestSelected.png) 1x, url(/images/forum/pageNewestSelected@2x.png) 2x);
    background-image: image-set(url(/images/forum/pageNewestSelected.png) 1x, url(/images/forum/pageNewestSelected@2x.png) 2x)
}

.newest .button.page.newest .selected.active,
.oldest .button.page.oldest .standard {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 51px;
    background-image: -webkit-image-set(url(/images/forum/pageNewestSelectedActive.png) 1x, url(/images/forum/pageNewestSelectedActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/pageNewestSelectedActive.png) 1x, url(/images/forum/pageNewestSelectedActive@2x.png) 2x)
}

.oldest .button.page.oldest .standard {
    background-image: -webkit-image-set(url(/images/forum/pageOldest.png) 1x, url(/images/forum/pageOldest@2x.png) 2x);
    background-image: image-set(url(/images/forum/pageOldest.png) 1x, url(/images/forum/pageOldest@2x.png) 2x)
}

.oldest .button.page.oldest .active,
.oldest .button.page.oldest .selected {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 51px;
    background-image: -webkit-image-set(url(/images/forum/pageOldestActive.png) 1x, url(/images/forum/pageOldestActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/pageOldestActive.png) 1x, url(/images/forum/pageOldestActive@2x.png) 2x)
}

.oldest .button.page.oldest .selected {
    background-image: -webkit-image-set(url(/images/forum/pageOldestSelected.png) 1x, url(/images/forum/pageOldestSelected@2x.png) 2x);
    background-image: image-set(url(/images/forum/pageOldestSelected.png) 1x, url(/images/forum/pageOldestSelected@2x.png) 2x)
}

.ellipsis img,
.oldest .button.page.oldest .selected.active {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 51px;
    background-image: -webkit-image-set(url(/images/forum/pageOldestSelectedActive.png) 1x, url(/images/forum/pageOldestSelectedActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/pageOldestSelectedActive.png) 1x, url(/images/forum/pageOldestSelectedActive@2x.png) 2x)
}

.ellipsis img {
    padding: 45px 0 0 41px;
    background-image: -webkit-image-set(url(/images/forum/ellipsis.png) 1x, url(/images/forum/ellipsis@2x.png) 2x);
    background-image: image-set(url(/images/forum/ellipsis.png) 1x, url(/images/forum/ellipsis@2x.png) 2x)
}

.button.back .active,
.button.back .standard {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 77px;
    background-image: -webkit-image-set(url(/images/forum/back.png) 1x, url(/images/forum/back@2x.png) 2x);
    background-image: image-set(url(/images/forum/back.png) 1x, url(/images/forum/back@2x.png) 2x)
}

.button.back .active {
    background-image: -webkit-image-set(url(/images/forum/backActive.png) 1x, url(/images/forum/backActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/backActive.png) 1x, url(/images/forum/backActive@2x.png) 2x)
}

.action.like .active,
.action.like .standard {
    width: 0 !important;
    height: 0 !important;
    padding: 30px 0 0 30px;
    background-image: -webkit-image-set(url(/images/forum/like.png) 1x, url(/images/forum/like@2x.png) 2x);
    background-image: image-set(url(/images/forum/like.png) 1x, url(/images/forum/like@2x.png) 2x)
}

.action.like .active {
    background-image: -webkit-image-set(url(/images/forum/likeActive.png) 1x, url(/images/forum/likeActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/likeActive.png) 1x, url(/images/forum/likeActive@2x.png) 2x)
}

.other .button.page img.active[src*=page0],
.other .button.page img.standard[src*=page0] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 37px;
    background-image: -webkit-image-set(url(/images/forum/page0.png) 1x, url(/images/forum/page0@2x.png) 2x);
    background-image: image-set(url(/images/forum/page0.png) 1x, url(/images/forum/page0@2x.png) 2x)
}

.other .button.page img.active[src*=page0] {
    background-image: -webkit-image-set(url(/images/forum/page0Active.png) 1x, url(/images/forum/page0Active@2x.png) 2x);
    background-image: image-set(url(/images/forum/page0Active.png) 1x, url(/images/forum/page0Active@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page0],
.other .button.page img.selected[src*=page0] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 37px;
    background-image: -webkit-image-set(url(/images/forum/page0Selected.png) 1x, url(/images/forum/page0Selected@2x.png) 2x);
    background-image: image-set(url(/images/forum/page0Selected.png) 1x, url(/images/forum/page0Selected@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page0] {
    background-image: -webkit-image-set(url(/images/forum/page0SelectedActive.png) 1x, url(/images/forum/page0SelectedActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/page0SelectedActive.png) 1x, url(/images/forum/page0SelectedActive@2x.png) 2x)
}

.other .button.page img.active[src*=page1],
.other .button.page img.standard[src*=page1] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 41px;
    background-image: -webkit-image-set(url(/images/forum/page1.png) 1x, url(/images/forum/page1@2x.png) 2x);
    background-image: image-set(url(/images/forum/page1.png) 1x, url(/images/forum/page1@2x.png) 2x)
}

.other .button.page img.active[src*=page1] {
    background-image: -webkit-image-set(url(/images/forum/page1Active.png) 1x, url(/images/forum/page1Active@2x.png) 2x);
    background-image: image-set(url(/images/forum/page1Active.png) 1x, url(/images/forum/page1Active@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page1],
.other .button.page img.selected[src*=page1] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 41px;
    background-image: -webkit-image-set(url(/images/forum/page1Selected.png) 1x, url(/images/forum/page1Selected@2x.png) 2x);
    background-image: image-set(url(/images/forum/page1Selected.png) 1x, url(/images/forum/page1Selected@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page1] {
    background-image: -webkit-image-set(url(/images/forum/page1SelectedActive.png) 1x, url(/images/forum/page1SelectedActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/page1SelectedActive.png) 1x, url(/images/forum/page1SelectedActive@2x.png) 2x)
}

.other .button.page img.active[src*=page2],
.other .button.page img.standard[src*=page2] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 37px;
    background-image: -webkit-image-set(url(/images/forum/page2.png) 1x, url(/images/forum/page2@2x.png) 2x);
    background-image: image-set(url(/images/forum/page2.png) 1x, url(/images/forum/page2@2x.png) 2x)
}

.other .button.page img.active[src*=page2] {
    background-image: -webkit-image-set(url(/images/forum/page2Active.png) 1x, url(/images/forum/page2Active@2x.png) 2x);
    background-image: image-set(url(/images/forum/page2Active.png) 1x, url(/images/forum/page2Active@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page2],
.other .button.page img.selected[src*=page2] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 37px;
    background-image: -webkit-image-set(url(/images/forum/page2Selected.png) 1x, url(/images/forum/page2Selected@2x.png) 2x);
    background-image: image-set(url(/images/forum/page2Selected.png) 1x, url(/images/forum/page2Selected@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page2] {
    background-image: -webkit-image-set(url(/images/forum/page2SelectedActive.png) 1x, url(/images/forum/page2SelectedActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/page2SelectedActive.png) 1x, url(/images/forum/page2SelectedActive@2x.png) 2x)
}

.other .button.page img.active[src*=page3],
.other .button.page img.standard[src*=page3] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 39px;
    background-image: -webkit-image-set(url(/images/forum/page3.png) 1x, url(/images/forum/page3@2x.png) 2x);
    background-image: image-set(url(/images/forum/page3.png) 1x, url(/images/forum/page3@2x.png) 2x)
}

.other .button.page img.active[src*=page3] {
    background-image: -webkit-image-set(url(/images/forum/page3Active.png) 1x, url(/images/forum/page3Active@2x.png) 2x);
    background-image: image-set(url(/images/forum/page3Active.png) 1x, url(/images/forum/page3Active@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page3],
.other .button.page img.selected[src*=page3] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 39px;
    background-image: -webkit-image-set(url(/images/forum/page3Selected.png) 1x, url(/images/forum/page3Selected@2x.png) 2x);
    background-image: image-set(url(/images/forum/page3Selected.png) 1x, url(/images/forum/page3Selected@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page3] {
    background-image: -webkit-image-set(url(/images/forum/page3SelectedActive.png) 1x, url(/images/forum/page3SelectedActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/page3SelectedActive.png) 1x, url(/images/forum/page3SelectedActive@2x.png) 2x)
}

.other .button.page img.active[src*=page4],
.other .button.page img.standard[src*=page4] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 32px;
    background-image: -webkit-image-set(url(/images/forum/page4.png) 1x, url(/images/forum/page4@2x.png) 2x);
    background-image: image-set(url(/images/forum/page4.png) 1x, url(/images/forum/page4@2x.png) 2x)
}

.other .button.page img.active[src*=page4] {
    background-image: -webkit-image-set(url(/images/forum/page4Active.png) 1x, url(/images/forum/page4Active@2x.png) 2x);
    background-image: image-set(url(/images/forum/page4Active.png) 1x, url(/images/forum/page4Active@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page4],
.other .button.page img.selected[src*=page4] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 32px;
    background-image: -webkit-image-set(url(/images/forum/page4Selected.png) 1x, url(/images/forum/page4Selected@2x.png) 2x);
    background-image: image-set(url(/images/forum/page4Selected.png) 1x, url(/images/forum/page4Selected@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page4] {
    background-image: -webkit-image-set(url(/images/forum/page4SelectedActive.png) 1x, url(/images/forum/page4SelectedActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/page4SelectedActive.png) 1x, url(/images/forum/page4SelectedActive@2x.png) 2x)
}

.other .button.page img.active[src*=page5],
.other .button.page img.standard[src*=page5] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 40px;
    background-image: -webkit-image-set(url(/images/forum/page5.png) 1x, url(/images/forum/page5@2x.png) 2x);
    background-image: image-set(url(/images/forum/page5.png) 1x, url(/images/forum/page5@2x.png) 2x)
}

.other .button.page img.active[src*=page5] {
    background-image: -webkit-image-set(url(/images/forum/page5Active.png) 1x, url(/images/forum/page5Active@2x.png) 2x);
    background-image: image-set(url(/images/forum/page5Active.png) 1x, url(/images/forum/page5Active@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page5],
.other .button.page img.selected[src*=page5] {
    width: 0 !important;
    height: 0 !important;
    padding: 45px 0 0 40px;
    background-image: -webkit-image-set(url(/images/forum/page5Selected.png) 1x, url(/images/forum/page5Selected@2x.png) 2x);
    background-image: image-set(url(/images/forum/page5Selected.png) 1x, url(/images/forum/page5Selected@2x.png) 2x)
}

.other .button.page img.selected.active[src*=page5] {
    background-image: -webkit-image-set(url(/images/forum/page5SelectedActive.png) 1x, url(/images/forum/page5SelectedActive@2x.png) 2x);
    background-image: image-set(url(/images/forum/page5SelectedActive.png) 1x, url(/images/forum/page5SelectedActive@2x.png) 2x)
}

@media (-webkit-min-device-pixel-ratio:2),
(-o-min-device-pixel-ratio:2/1),
(min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
    #header {
        background-image: url(/images/header/backgroundDark@2x.png) !important
    }

    .premium #header {
        background-image: url(/images/header/backgroundPremium@2x.png) !important
    }

    .premium.christmas #header {
        background-image: url(/images/header/backgroundPremiumChristmas@2x.png) !important
    }

    .premium.july4th #header {
        background-image: url(/images/header/backgroundPremiumJuly4th@2x.png) !important
    }

    .premium.halloween #header {
        background-image: url(/images/header/backgroundPremiumHalloween@2x.png) !important
    }
}

#header {
    background-image: url(/images/header/backgroundDark.png) !important
}

.premium #header {
    background-image: url(/images/header/backgroundPremium.png) !important
}

.premium.christmas #header {
    background-image: url(/images/header/backgroundPremiumChristmas.png) !important
}

.premium.july4th #header {
    background-image: url(/images/header/backgroundPremiumJuly4th.png) !important
}

.premium.halloween #header {
    background-image: url(/images/header/backgroundPremiumHalloween.png) !important
}

#info {
    position: fixed;
    left: 50%;
    top: 50%
}

#info .title {
    font-family: TankTrouble
}

#info .content {
    background: linear-gradient(to bottom, #333 10%, #191919 90%);
    box-shadow: 0 0 0 2pt #202020
}

#info .content ul {
    background-color: #212121;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 0 0 2pt #323232
}